# Get your MySQL credentials from Planetscale
DATABASE_URL=

# Generate one here: https://generate-secret.vercel.app/32
NEXTAUTH_SECRET=
## Only required for localhost, usually set to http://localhost:3000
NEXTAUTH_URL=http://localhost:3000

# Follow the instructions here to create a Google OAuth app:
https://refine.dev/blog/nextauth-google-github-authentication-nextjs/#for-googleprovider-make-sure-you-have-a-google-account
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
